In [2]:
# import data
import pandas as pd
import numpy as np

path = "epl-goalScorer(20-21).csv"
df = pd.read_csv(path)
df

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [5]:
# load data into pandas
print("menggunakan head")
df.head
print("menggunakan tail")
df.tail

menggunakan head
menggunakan tail

<bound method NDFrame.tail of      Unnamed: 0    id             player_name  games  time  goals         xG  \
0             0   647              Harry Kane     35  3097     23  22.174859
1             1  1250           Mohamed Salah     37  3085     22  20.250847
2             2  1228         Bruno Fernandes     37  3117     18  16.019454
3             3   453           Son Heung-Min     37  3139     17  11.023287
4             4   822         Patrick Bamford     38  3085     17  18.401863
..          ...   ...                     ...    ...   ...    ...        ...
517         517  9415  Jaden Philogene-Bidace      1     1      0   0.000000
518         518  9423         Gaetano Berardi      2   113      0   0.074761
519         519  9524          Anthony Elanga      1    67      0   0.000000
520         520  9540             Femi Seriki      1     1      0   0.000000
521         521  9552         Tyrese Francois      1    13      0   0.000000

     assists         xA  shots  key_passes  yellow_cards  red_cards position  \
0         14   7.577094    138          49             1          0        F
1          5   6.528526    126          55             0          0    F M S
2         12  11.474996    121          95             6          0      M S
3         10   9.512992     68          75             0          0    F M S
4          7   3.782247    107          30             3          0      F S
..       ...        ...    ...         ...           ...        ...      ...
517        0   0.000000      0           0             0          0        S
518        0   0.000000      1           0             0          0      D S
519        0   0.000000      0           0             0          0        M
520        0   0.000000      0           0             0          0        S
521        0   0.000000      0           0             0          0        S

            team_title  npg       npxG    xGChain  xGBuildup
0            Tottenham   19  19.130183  24.995648   4.451257
1            Liverpool   16  15.683834  28.968234   9.800236
2    Manchester United    9   8.407840  26.911412  11.932285
3            Tottenham   16  10.262118  20.671916   6.608751
4                Leeds   15  16.879525  23.394953   4.131796
..                 ...  ...        ...        ...        ...
517        Aston Villa    0   0.000000   0.056044   0.056044
518              Leeds    0   0.074761   0.231278   0.231278
519  Manchester United    0   0.000000   0.000000   0.000000
520   Sheffield United    0   0.000000   0.000000   0.000000
521             Fulham    0   0.000000   0.000000   0.000000

[522 rows x 19 columns]>

In [6]:
# tipe data kolom
print(df.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object